<?xml version="1.0"?>
<config>
    <modules>
        <Exinit_KvkNR>
            <version>0.1.0</version>
        </Exinit_KvkNR>
    </modules>
    <global>
        <helpers>
            <storeurl>
                <class>Exinit_KvkNR_Helper</class>
            </storeurl>
        </helpers>
        <resources>
            <storeurl_setup>
                <setup>
                    <module>Exinit_KvkNR</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </storeurl_setup>
            <storeurl_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </storeurl_write>
            <storeurl_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </storeurl_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <storeurl>
                    <file>phyts/storeurl.xml</file>
                </storeurl>
            </updates>
        </layout>
    </frontend>
</config>
