<?xml version="1.0"?>
<config>
    <modules>
        <Exinit_KvkNR>
            <version>0.1.0</version>
        </Exinit_KvkNR>
    </modules>
    <global>
        <helpers>
            <kvknr>
                <class>Exinit_KvkNR_Helper</class>
            </kvknr>
        </helpers>
        <resources>
            <kvknr_setup>
                <setup>
                    <module>Exinit_KvkNR</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </kvknr_setup>
            <kvknr_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </kvknr_write>
            <kvknr_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </kvknr_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <kvknr>
                    <file>exinit/kvknr.xml</file>
                </kvknr>
            </updates>
        </layout>
    </frontend>
</config>
